## Project 1
### Creating a programme that 
* The system will allow the user to retrieve data from a CSV file using the csv module and fundamental python (control structure and file processing)
* The system will allow the user to analyse/query data using the pandas module
* The system will allow the user to visualise the data
* Using this file: C:/Users/adedi_tpk1ys1/OneDrive/Documents/PYTHON/KPMG/KPMG_D_Insight.csv"

In [3]:
# importing all libraries
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
%matplotlib inline
import warnings
import matplotlib.pyplot as plt
warnings.simplefilter(action='ignore', category=FutureWarning)

In [4]:
# Load the data from a CSV file into memory using the CSV module
file= input('What is the location of the file you want to import from: ')

What is the location of the file you want to import from:  C:/Users/adedi_tpk1ys1/OneDrive/Documents/PYTHON/KPMG/KPMG_D_Insight.csv

In [5]:
read_file = pd.read_csv(file)
read_file.head()

C:\Users\adedi_tpk1ys1\AppData\Local\Temp\ipykernel_8080\645842050.py:1: DtypeWarning: Columns (17,18,19,22) have mixed types. Specify dtype option on import or set low_memory=False.
  read_file = pd.read_csv(file)

,transaction_id,product_id,customer_id,transaction_date,recency,online_order,order_status,brand,product_line,product_class,...,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255,Unnamed: 256
0,1.0,2.0,2950.0,2/25/2017,NaN,False,Approved,Solex,Standard,medium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,3.0,3120.0,5/21/2017,223.0,True,Approved,Trek Bicycles,Standard,medium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,37.0,402.0,10/16/2017,NaN,False,Approved,OHM Cycles,Standard,low,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,88.0,3135.0,8/31/2017,NaN,False,Approved,Norco Bicycles,Standard,medium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,78.0,787.0,10/1/2017,NaN,True,Approved,Giant Bicycles,Standard,medium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
read_file = read_file.dropna(how='all', axis=1)
read_file.head(5)

,transaction_id,product_id,customer_id,transaction_date,recency,online_order,order_status,brand,product_line,product_class,...,product_first_sold_date,Profit,past_3_years_bike_related_purchases,age_category,gender,wealth_segment,owns_car,tenure,property_valuation,comparison_date
0,1.0,2.0,2950.0,2/25/2017,NaN,False,Approved,Solex,Standard,medium,...,41245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,3.0,3120.0,5/21/2017,223.0,True,Approved,Trek Bicycles,Standard,medium,...,3/3/2014,"? 1,702.55",89.0,50.0,Female,Mass Customer,Yes,10.0,3.0,12/30/2017
2,3.0,37.0,402.0,10/16/2017,NaN,False,Approved,OHM Cycles,Standard,low,...,36361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,88.0,3135.0,8/31/2017,NaN,False,Approved,Norco Bicycles,Standard,medium,...,36145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,78.0,787.0,10/1/2017,NaN,True,Approved,Giant Bicycles,Standard,medium,...,8/10/2015,"? 1,055.82",29.0,0.0,Female,Affluent Customer,Yes,2.0,1.0,NaN

In [18]:
# using transcation_id retrieve an indiviual details
trans_id = float(input("Enter transaction id: "))
df1 = read_file[read_file['transaction_id']==trans_id]
# col= df1[["brand","product_line","product_class","order_status","online_order"]]
print("The Transaction Id {} details are :\n{}".format(trans_id,df1))

# or
# if trans_id > 0 :
#     index= read_file.transaction_id[ read_file.transaction_id == trans_id ].index.tolist()
#     row = read_file.iloc[index]
#     print("The Transaction Id {} details are :\n{}".format(trans_id,row))\

Enter transaction id:  3.0

The Transaction Id 3.0 details are :
   transaction_id  product_id  customer_id transaction_date  recency  \
2             3.0        37.0        402.0       10/16/2017      NaN

  online_order order_status       brand product_line product_class  ...  \
2        False     Approved  OHM Cycles     Standard           low  ...

  product_first_sold_date Profit past_3_years_bike_related_purchases  \
2                   36361    NaN                                 NaN

  age_category gender  wealth_segment  owns_car tenure property_valuation  \
2          NaN    NaN             NaN       NaN    NaN                NaN

   comparison_date
2               NaN

[1 rows x 23 columns]

In [14]:
# retrieve details of all transaction for a particular brand (product_line,product_class, order_status,online_order using brand)
brand_n = input("Enter the name of the brand: ")
df1 = read_file[read_file['brand']==brand_n]
col= df1[["brand","product_line","product_class","order_status","online_order"]]
print("The {} brand details are :\n{}".format(brand_n,col))

Enter the name of the brand:  Solex

The Solex brand details are :
       brand product_line product_class order_status online_order
0      Solex     Standard        medium     Approved        False
8      Solex     Standard        medium     Approved        False
36     Solex     Standard          high     Approved        False
37     Solex     Standard        medium     Approved        False
41     Solex      Touring        medium     Approved        False
...      ...          ...           ...          ...          ...
19981  Solex         Road        medium     Approved         True
19985  Solex     Standard           low     Approved         True
19986  Solex     Standard        medium     Approved        False
19992  Solex     Standard        medium     Approved        False
19996  Solex         Road        medium     Approved         True

[4253 rows x 5 columns]

In [16]:
# retrieve details of some details for a particular product_class (age_category,gender,wealth_segment,owns_car using product_class)
product_C = input("Enter the name of the product calss: ")
df1 = read_file[read_file['product_class']==product_C]
col = df1[["product_class","age_category","gender","wealth_segment","owns_car"]]
print("The {} product class details are :\n{}".format(product_C,col))

Enter the name of the product calss:  low

The low product class details are :
      product_class  age_category gender     wealth_segment owns_car
2               low           NaN    NaN                NaN      NaN
10              low           NaN    NaN                NaN      NaN
11              low          50.0   Male  Affluent Customer      Yes
12              low          70.0   Male      Mass Customer       No
21              low          50.0   Male      Mass Customer       No
...             ...           ...    ...                ...      ...
19969           low           NaN    NaN                NaN      NaN
19971           low           NaN    NaN                NaN      NaN
19973           low           NaN    NaN                NaN      NaN
19985           low           NaN    NaN                NaN      NaN
19988           low           NaN    NaN                NaN      NaN

[2964 rows x 5 columns]

In [31]:
# retrieve some of the details for a particular customer_id and brand (recency, transaction_date,product_id using product_class)
cust_id = float(input("Enter customer id number: "))
brand_n = input("Enter the name of the brand: ")
df1 = read_file[[read_file['customer_id']==cust_id],[read_file['brand']==brand_n]]  
col= df1[["brand","product_line","product_class","order_status","online_order","recency","transaction_date","product_id"]]
# df2 = read_file[read_file['brand']==brand_n]
# col2 = df2[["brand","product_line","product_class","order_status","online_order","recency","transaction_date","product_id"]]
print("The {} brand and {} customer id details are :\n{}".format(brand_n,cust_id,col))

Enter customer id number:  2950.0
Enter the name of the brand:  Solex

InvalidIndexError: ([0         True
1        False
2        False
3        False
4        False
         ...
19996    False
19997    False
19998    False
19999    False
20000    False
Name: customer_id, Length: 20001, dtype: bool], [0         True
1        False
2        False
3        False
4        False
         ...
19996     True
19997    False
19998    False
19999    False
20000    False
Name: brand, Length: 20001, dtype: bool])

Section b
- Identifying the most popular amenities or features that Airbnb guests are looking for
- Analyse the average price of stay in each location
- Analyse the average review scores rating for each location
- Analyse to get insightful information based on your own selection (should not be the same as the previous requirements)

In [81]:
# val_c = input("Enter the value you wamt to identify:")
col_n = input("Enter the column you want to identify from: ")
cal = read_file[col_n].value_counts().to_frame()
# print("The counts of {} values are :\n{}".format(col_n,cal)) 
pop = max(cal)
print("The popular value in {} is {} {}".format(col_n,gh[pop],pop))

Enter the column you want to identify from:  brand

The popular value in brand is Solex             4253
Giant Bicycles    3312
WeareA2B          3295
OHM Cycles        3043
Trek Bicycles     2990
Norco Bicycles    2910
Name: brand, dtype: int64 brand

The popular value is Solex             4253
Giant Bicycles    3312
WeareA2B          3295
OHM Cycles        3043
Trek Bicycles     2990
Norco Bicycles    2910
Name: brand, dtype: int64 with brand

In [64]:
cal = read_file[col_n].value_counts().to_frame()
cal

        product_class
medium          13826
high             3013
low              2964