## Project 1
### Creating a programme that 
* The system will allow the user to retrieve data from a CSV file using the csv module and fundamental python (control structure and file processing)
* The system will allow the user to analyse/query data using the pandas module
* The system will allow the user to visualise the data
* Using this file: C:/Users/adedi_tpk1ys1/OneDrive/Documents/PYTHON/KPMG/KPMG_D_Insight.csv"

In [5]:
# importing all libraries
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
%matplotlib inline
import warnings
import matplotlib.pyplot as plt
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
# Load the data from a CSV file into memory using the CSV module
file= input('What is the location of the file you want to import from: ')

What is the location of the file you want to import from:  C:/Users/adedi_tpk1ys1/OneDrive/Documents/PYTHON/KPMG/KPMG_D_Insight.csv

In [13]:
read_file = pd.read_csv(file)
read_file.head()

C:\Users\adedi_tpk1ys1\AppData\Local\Temp\ipykernel_9136\645842050.py:1: DtypeWarning: Columns (17,18,19,22) have mixed types. Specify dtype option on import or set low_memory=False.
  read_file = pd.read_csv(file)

,transaction_id,product_id,customer_id,transaction_date,recency,online_order,order_status,brand,product_line,product_class,...,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254,Unnamed: 255,Unnamed: 256
0,1.0,2.0,2950.0,2/25/2017,NaN,False,Approved,Solex,Standard,medium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,3.0,3120.0,5/21/2017,223.0,True,Approved,Trek Bicycles,Standard,medium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,37.0,402.0,10/16/2017,NaN,False,Approved,OHM Cycles,Standard,low,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,88.0,3135.0,8/31/2017,NaN,False,Approved,Norco Bicycles,Standard,medium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,78.0,787.0,10/1/2017,NaN,True,Approved,Giant Bicycles,Standard,medium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
read_file = read_file.dropna(how='all', axis=1)
read_file.head(5)

,transaction_id,product_id,customer_id,transaction_date,recency,online_order,order_status,brand,product_line,product_class,...,product_first_sold_date,Profit,past_3_years_bike_related_purchases,age_category,gender,wealth_segment,owns_car,tenure,property_valuation,comparison_date
0,1.0,2.0,2950.0,2/25/2017,NaN,False,Approved,Solex,Standard,medium,...,41245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,3.0,3120.0,5/21/2017,223.0,True,Approved,Trek Bicycles,Standard,medium,...,3/3/2014,"? 1,702.55",89.0,50.0,Female,Mass Customer,Yes,10.0,3.0,12/30/2017
2,3.0,37.0,402.0,10/16/2017,NaN,False,Approved,OHM Cycles,Standard,low,...,36361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,88.0,3135.0,8/31/2017,NaN,False,Approved,Norco Bicycles,Standard,medium,...,36145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,78.0,787.0,10/1/2017,NaN,True,Approved,Giant Bicycles,Standard,medium,...,8/10/2015,"? 1,055.82",29.0,0.0,Female,Affluent Customer,Yes,2.0,1.0,NaN

In [21]:
# using transcation_id retrieve an indiviual details
trans_id = float(input("Enter transaction id: "))
if trans_id > 0 :
    index= read_file.transaction_id[ read_file.transaction_id == trans_id ].index.tolist()
    row = read_file.iloc[index]
    print("The Transaction Id {} details are :{}".format(trans_id,row))
    # print()
    # print((read_file.loc[read_file['transaction_id'] == 'trans_id']))

Enter transaction id:  3.0

The Transaction Id 3.0 details are :   transaction_id  product_id  customer_id transaction_date  recency  \
2             3.0        37.0        402.0       10/16/2017      NaN

  online_order order_status       brand product_line product_class  ...  \
2        False     Approved  OHM Cycles     Standard           low  ...

  product_first_sold_date Profit past_3_years_bike_related_purchases  \
2                   36361    NaN                                 NaN

  age_category gender  wealth_segment  owns_car tenure property_valuation  \
2          NaN    NaN             NaN       NaN    NaN                NaN

   comparison_date
2               NaN

[1 rows x 23 columns]

In [ ]:
# retrie