## Project 1
### Creating a programme that 
* The system will allow the user to retrieve data from a CSV file using the csv module and fundamental python (control structure and file processing)
* The system will allow the user to analyse/query data using the pandas module
* The system will allow the user to visualise the data
* Using this file: C:/Users/adedi_tpk1ys1/Downloads/dom/GDP_per_capita.csv

In [2]:
# importing all libraries
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns
%matplotlib inline
import warnings
import matplotlib.pyplot as plt
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
# Load the data from a CSV file into memory using the CSV module
file= input('What is the location of the file you want to import from: ')

What is the location of the file you want to import from:  C:/Users/adedi_tpk1ys1/Downloads/dom/GDP_per_capita.csv

In [4]:
read_file = pd.read_csv(file)
read_file.head()

,Country_Name,Country_Code,Indicator_Name,Indicator_Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.532297,5.810829,-0.609127,2.984921,1.604501,4.985800,0.803198,-2.512957,-22.650725,NaN
1,Africa Eastern and Southern,AFE,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,-2.243254,5.269877,2.492519,1.896793,2.602103,...,-1.790869,1.400051,1.200956,0.214389,-0.482125,-0.130261,-0.175692,-0.595037,-5.352819,1.687789
2,Afghanistan,AFG,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,8.974865,1.974166,-0.665291,-1.622857,-0.541416,0.064764,-1.194900,1.535637,-4.575032,NaN
3,Africa Western and Central,AFW,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,-0.232373,1.602307,4.990615,3.124672,1.783946,...,2.315207,3.260839,3.096789,0.007361,-2.533319,-0.391018,0.241491,0.504842,-3.465697,1.245669
4,Angola,AGO,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.704409,1.287608,1.217343,-2.472188,-5.816140,-3.412679,-4.496947,-3.868559,-8.493086,-2.467404