In [1]:
import pandas as pd

In [2]:
file= input('What is the location of the file you want to import from: ')
read_file = pd.read_csv(file)
read_file.head()

What is the location of the file you want to import from:  C:/Users/adedi_tpk1ys1/OneDrive/Documents/Nw/Airbnb_UK_2022.csv.xls

,host_id,name,description,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,...,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,60302,Bright Chelsea Apartment. Chelsea!,lots of windows and light st luke s gardens a...,Philippa,05-12-09,Kensington,within an hour,67%,29%,False,...,89,21-12-09,16-03-20,4.79,4.84,4.88,4.87,4.82,4.93,4.73
1,554519,JESSIE the narrowboat in Little Venice,jessie the narrowboat is moored in the heart o...,Meg,03-05-11,London,within an hour,100%,100%,True,...,581,04-07-11,02-09-22,4.91,4.94,4.90,4.97,4.96,4.98,4.77
2,1481851,Notting Hill church stay in Heaven!,the spaceoverview located min walk away from...,Tania,07-12-11,London,within a few hours,100%,86%,True,...,6,16-07-12,04-07-22,4.83,4.83,5.00,5.00,5.00,5.00,4.83
3,41759,"Battersea live/work artist house, garden communal",artist house bright high ceiling rooms for bo...,Joe,28-09-09,London,within a day,100%,50%,False,...,96,15-11-10,19-07-22,4.90,4.89,4.91,4.90,4.93,4.59,4.65
4,586671,DOUBLE ROOM NEAR CENTRAL LONDON,the spaceone lovely double bed and breakfastro...,Joe,14-05-11,London,within a day,90%,84%,True,...,32,06-07-13,08-09-22,4.91,4.97,4.88,5.00,5.00,4.72,4.88

In [4]:
column_values = ['50%', '25%', '75%', '100%']
new_values = [value[:-1] if value.startswith('%') else value for value in column_values]


print(new_values)

['50%', '25%', '75%', '100%']

In [10]:
read_file['host_acceptance_rate'] = read_file['host_acceptance_rate'].str.replace('%', '')

read_file['host_acceptance_rate'] = read_file['host_acceptance_rate'].astype(float)
read_file.head()

,host_id,name,description,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,...,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,60302,Bright Chelsea Apartment. Chelsea!,lots of windows and light st luke s gardens a...,Philippa,05-12-09,Kensington,within an hour,67%,29.0,False,...,89,21-12-09,16-03-20,4.79,4.84,4.88,4.87,4.82,4.93,4.73
1,554519,JESSIE the narrowboat in Little Venice,jessie the narrowboat is moored in the heart o...,Meg,03-05-11,London,within an hour,100%,100.0,True,...,581,04-07-11,02-09-22,4.91,4.94,4.90,4.97,4.96,4.98,4.77
2,1481851,Notting Hill church stay in Heaven!,the spaceoverview located min walk away from...,Tania,07-12-11,London,within a few hours,100%,86.0,True,...,6,16-07-12,04-07-22,4.83,4.83,5.00,5.00,5.00,5.00,4.83
3,41759,"Battersea live/work artist house, garden communal",artist house bright high ceiling rooms for bo...,Joe,28-09-09,London,within a day,100%,50.0,False,...,96,15-11-10,19-07-22,4.90,4.89,4.91,4.90,4.93,4.59,4.65
4,586671,DOUBLE ROOM NEAR CENTRAL LONDON,the spaceone lovely double bed and breakfastro...,Joe,14-05-11,London,within a day,90%,84.0,True,...,32,06-07-13,08-09-22,4.91,4.97,4.88,5.00,5.00,4.72,4.88

In [ ]:
 for index, row in read_file.iterrows():
    if row['host_acceptance_rate'].startswith('%'):
        read_file.at[index, 'host_acceptance_rate'] = row['host_acceptance_rate'][1:]

print(read_file)

In [5]:

# Create a sample dataframe
data = {'percentage': ['10%', '20%', '30%', '40%', '50%']}
df = pd.DataFrame(data)

# Remove percentage sign from the 'percentage' column
for index, row in df.iterrows():
    if row['percentage'].startswith('%'):
        df.at[index, 'percentage'] = row['percentage'][1:]
print(df)

  percentage
0        10%
1        20%
2        30%
3        40%
4        50%

In [5]:
# Create a sample dataframe
data = {'percentages': ['10%', '20%', '30%', '40%', '50%']}
df = pd.DataFrame(data)
# Use the str.replace() method to remove the percentage sign
df['Percentages'] = df['Percentages'].str.replace('%', '')

# # Convert the column to float type
# df['Percentages'] = df['Percentages'].astype(float)

KeyError: 'Percentages'

In [4]:
percent_value = "25.3%"
if percent_value.startswith("%"):
    percent_value = percent_value[1:]
print(percent_value)

25.3%

In [5]:
df = pd.DataFrame({'col1': ['23%', '45%', '67%'], 'col2': ['A', 'B', 'C']})

# Remove percentage sign using startswith()
df['col1'] = df['col1'].apply(lambda x: x[:-1] if x.startswith('%') else x)
df.head()

  col1 col2
0  23%    A
1  45%    B
2  67%    C

In [9]:
# define a lambda function to remove percent sign and convert to float
remove_percent = lambda x: float(x[:-1]) if x.endswith("%") else x

# apply the lambda function to the 'col1' column
read_file['host_acceptance_rate'] = read_file['host_acceptance_rate'].apply(remove_percent)

# print the updated DataFrame
# print(read_file)
read_file.head(30)

,host_id,name,description,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,...,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,60302,Bright Chelsea Apartment. Chelsea!,lots of windows and light st luke s gardens a...,Philippa,05-12-09,Kensington,within an hour,67%,29.0,False,...,89,21-12-09,16-03-20,4.79,4.84,4.88,4.87,4.82,4.93,4.73
1,554519,JESSIE the narrowboat in Little Venice,jessie the narrowboat is moored in the heart o...,Meg,03-05-11,London,within an hour,100%,100.0,True,...,581,04-07-11,02-09-22,4.91,4.94,4.90,4.97,4.96,4.98,4.77
2,1481851,Notting Hill church stay in Heaven!,the spaceoverview located min walk away from...,Tania,07-12-11,London,within a few hours,100%,86.0,True,...,6,16-07-12,04-07-22,4.83,4.83,5.00,5.00,5.00,5.00,4.83
3,41759,"Battersea live/work artist house, garden communal",artist house bright high ceiling rooms for bo...,Joe,28-09-09,London,within a day,100%,50.0,False,...,96,15-11-10,19-07-22,4.90,4.89,4.91,4.90,4.93,4.59,4.65
4,586671,DOUBLE ROOM NEAR CENTRAL LONDON,the spaceone lovely double bed and breakfastro...,Joe,14-05-11,London,within a day,90%,84.0,True,...,32,06-07-13,08-09-22,4.91,4.97,4.88,5.00,5.00,4.72,4.88
5,255103,A stylish original Victorian home in West London,a very large and light one bed and breakfastro...,Olga,06-10-10,London,within an hour,100%,100.0,True,...,71,04-01-12,08-06-22,4.84,4.90,4.90,4.79,4.96,4.53,4.74
6,144444,Beautiful Ensuite Richmond-upon-Thames borough,walking distance to twickenham stadium min ...,Chi Chi,14-06-10,Isleworth,within a few hours,100%,86.0,False,...,20,16-10-10,01-08-22,4.40,4.47,4.58,4.58,4.53,4.68,4.26
7,155938,Kew Gardens 3BR house in cul-de-sac,bed and breakfast house with garden close to...,Geert,30-06-10,Richmond,within a few hours,100%,96.0,True,...,96,25-10-10,02-09-22,4.80,4.79,4.80,4.94,4.95,4.91,4.61
8,1254028,FREE WIFI Double room in SW London,comfy double bed and breakfast quiet street ...,Matt,05-10-11,London,within a day,100%,0.0,False,...,1,13-07-15,13-07-15,5.00,5.00,5.00,5.00,5.00,4.00,5.00
9,192627,"Stylish & Bright, 1 Bed, Shoreditch",newly decorated stylish apartment in a quiet ...,Clare,05-08-10,London,within a few hours,100%,49.0,True,...,96,11-07-11,02-07-22,4.95,4.87,4.84,4.93,4.94,4.83,4.67
10,1521435,Home from Home in the heart of London,the space double rooms with tv wifi and a s...,Milena,20-12-11,London,within an hour,100%,100.0,False,...,226,13-03-12,17-07-22,4.47,4.49,4.52,4.74,4.77,4.27,4.33
11,1527176,A people person awaits you here!,your room is light and airy with a garden view...,Gill,22-12-11,London,within a few hours,100%,66.0,True,...,55,02-09-12,28-08-22,4.89,4.89,4.94,4.98,4.96,4.83,4.93
12,1549137,Stylish 3 Bed 2 Bath Apartment +Gdn,available xmas new year minimum nights stu...,Rita,30-12-11,London,within an hour,100%,92.0,False,...,60,14-02-12,12-07-22,4.84,4.75,4.64,4.88,4.98,4.66,4.41
13,182322,Room with a view zone 1 Central Bankside,a luminous room in a modern bed and breakfas...,Nina,27-07-10,London,within a few hours,100%,76.0,False,...,106,19-02-11,01-08-22,4.65,4.75,4.89,4.76,4.83,4.86,4.55
14,757377,"West London,loft ensuite, 5min2tube",large light and spacious loft bed and breakfa...,Eilinn,29-06-11,London,within a day,70%,45.0,False,...,167,13-07-11,04-07-22,4.72,4.67,4.79,4.85,4.84,4.78,4.69
15,188559,Beautiful 1 bed and breakfast apt in Queens Park,a beautiful lightfilled midcentury design in...,Calypso,02-08-10,London,within a day,80%,100.0,False,...,122,07-08-12,19-07-22,4.85,4.88,4.80,4.91,4.94,4.61,4.75
16,761400,Charming Flat in Notting Hill,a stylish apartment close to portobello market...,Nathan,30-06-11,London,within a few hours,100%,100.0,True,...,199,16-10-11,25-08-22,4.73,4.89,4.77,4.96,4.96,4.87,4.72
17,191353,Double Room Lovely Bohemian Garden Flat.,a double room in our family home is available ...,Mark,04-08-10,London,within a few hours,90%,70.0,False,...,1,19-06-22,19-06-22,5.00,5.00,5.00,5.00,5.00,5.00,5.00
18,794470,"Modern 1 bed and breakfast flat, fast trains t...",my place is a cosy modern fully equipped flat ...,Amelia,08-07-11,Reigate,within an hour,100%,100.0,False,...,27,29-10-18,09-09-22,4.81,4.85,4.65,4.81,4.88,4.73,4.81
19,199530,Room with a garden,nice room in house in the west hampstead area ...,Deb,12-08-10,London,a few days or more,43%,18.0,False,...,2,10-10-15,01-11-21,5.00,5.00,5.00,5.00,5.00,5.00,4.00
20,802297,"Feel at Home in a Charming, Bright, Central Ap...",unwind in a living room featuring high ceiling...,Alexandra,10-07-11,London,within a few hours,100%,91.0,True,...,159,27-08-11,31-07-22,4.88,4.95,4.96,4.94,5.00,4.91,4.77
21,1577723,4 bed and breakfastroom (+nursery) designer pa...,the space bed and breakfastroom nursery st...,Yael,07-01-12,London,within a few hours,100%,50.0,False,...,26,29-08-12,03-02-17,4.92,4.96,4.62,4.92,5.00,4.96,4.65
22,212734,Single Room in zone 1,hi everyone welcome to my little haven my fl...,Let S Dance Put On Your Red Shoes,25-08-10,London,within a few hours,100%,93.0,True,...,419,25-09-10,04-09-22,4.80,4.83,4.96,4.90,4.90,4.75,4.79
23,1586861,"Spacious, family-friendly Hackney home w garden",from june july also available for long term ...,Eliza,09-01-12,London,within an hour,100%,48.0,False,...,44,11-07-13,19-07-22,4.77,4.86,4.50,4.93,4.98,4.70,4.66
24,1598430,Stylish Georgian Townhouse - Zone 1,comfortable centrally located and with great ...,Maria,12-01-12,London,within a few hours,100%,70.0,False,...,179,21-05-12,24-07-22,4.88,4.91,4.75,4.93,4.93,4.83,4.80
25,831866,Large Bedroom with EnSuite Bathroom,inside flat is one staircase to go downstairs ...,Erika,17-07-11,Paddington,within an hour,100%,98.0,False,...,216,18-09-11,08-09-22,4.66,4.81,4.78,4.74,4.77,4.88,4.66
26,1599044,A Modern Double Room in Greenwich.,the spacewe have a double bed and breakfastroo...,Robert And Antonio,12-01-12,London,within an hour,100%,98.0,True,...,269,09-11-12,08-09-22,4.95,4.94,4.97,4.94,4.97,4.60,4.94
27,876774,Quiet Double Room - Good for walks,bed and breakfast breakfast quiet double ro...,Heather,27-07-11,London,within an hour,100%,100.0,True,...,224,19-03-12,08-09-22,4.84,4.92,4.87,4.92,4.95,4.78,4.81
28,878083,Room with private modern bathroom near Southbank.,spacious and comfortable double room with the ...,Kyri,27-07-11,London,within an hour,100%,100.0,False,...,158,28-08-11,11-08-22,4.97,4.99,4.97,4.99,4.99,4.82,4.95
29,911280,FAB CHISWICK ROOM,a home from home space in west london that ser...,Vee,02-08-11,London,within a few hours,75%,0.0,False,...,5,22-09-11,25-08-15,3.50,4.50,4.25,5.00,4.75,4.25,3.60

In [8]:
read_file = pd.read_csv('C:/Users/adedi_tpk1ys1/OneDrive/Documents/Nw/Airbnb_UK_2022.csv.xls')
read_file.head()

# define a lambda function to remove percent sign and convert to float
remove_percent = lambda x: float(x[:-1]) if x.endswith("%") else x

# apply the lambda function to the 'col1' column
read_file['host_acceptance_rate'] = read_file['host_acceptance_rate'].apply(remove_percent)

# convert the date column to datetime format
read_file['host_since'] = pd.to_datetime(read_file['host_since'])

# extract the year from the date column and create a new column for it
read_file['year'] = read_file['host_since'].dt.year

# group the data by year and calculate the mean for each year
yearly_mean = read_file.groupby('year')['host_acceptance_rate'].mean()

# print the yearly mean
print(yearly_mean)

year
2008    100.000000
2009     49.600000
2010     76.272727
2011     72.996785
2012     73.492973
2013     72.525709
2014     75.268796
2015     77.328449
2016     79.739673
2017     81.570681
2018     83.699422
2019     82.338235
2020     83.703704
2021     88.398551
2022     91.318182
Name: host_acceptance_rate, dtype: float64

In [9]:
# filter year 2019
year_2019 = read_file.query("host_since >= '2019-01-01' and host_since <= '2019-12-31'")
# filter year 2020
year_2020 = read_file.query("host_since >= '2020-01-01' and host_since <= '2020-12-31'")
# filter year 2021
year_2021 = read_file.query("host_since >= '2021-01-01' and host_since <= '2021-12-31'")
# filter year 2022
year_2022 = read_file.query("host_since >= '2022-01-01' and host_since <= '2022-12-31'")

In [10]:
# group the year by year and host_is_superhost and find the mean of the acceptance rate
acceptance_rate_2019 = year_2019.groupby([year_2019.host_since.dt.year,year_2019.host_is_superhost])["host_acceptance_rate"].mean().tolist()
acceptance_rate_2020 = year_2020.groupby([year_2020.host_since.dt.year,year_2020.host_is_superhost])["host_acceptance_rate"].mean().tolist()
acceptance_rate_2021 = year_2021.groupby([year_2021.host_since.dt.year,year_2021.host_is_superhost])["host_acceptance_rate"].mean().tolist()
acceptance_rate_2022 = year_2022.groupby([year_2022.host_since.dt.year,year_2022.host_is_superhost])["host_acceptance_rate"].mean().tolist()

In [20]:
# acceptance_rate_2019.to_dataframe()

zipp = list(zip(acceptance_rate_2019, acceptance_rate_2020,acceptance_rate_2021,acceptance_rate_2022))
df = pd.DataFrame(zipp,columns =['acceptance_rate_2019','acceptance_rate_2020','acceptance_rate_2021','acceptance_rate_2022'])
df_tran = df.transpose()
df_tran

# zipp

                              0          1
acceptance_rate_2019  80.336283  92.173913
acceptance_rate_2020  82.608247  93.363636
acceptance_rate_2021  87.528846  91.058824
acceptance_rate_2022  91.067227  93.615385

In [ ]:
# names = ['Katie', 'Nik', 'James', 'Evan']
# ages = [32, 32, 36, 31]
# locations = ['London', 'Toronto', 'Atlanta', 'Madrid']
# zipped = list(zip(names, ages, locations))

# df = pd.DataFrame(zipped, columns=['Name', 'Age', 'Location'])

# print(df)

In [2]:
import pandas as pd

file_location = input("Enter file location: ")

def load_csv_file():
    r_file = pd.read_csv(file_location)
    return r_file.head()
load_csv_file()

Enter file location:  C:/Users/adedi_tpk1ys1/OneDrive/Documents/Nw/Airbnb_UK_2022.csv.xls

,host_id,name,description,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,...,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,60302,Bright Chelsea Apartment. Chelsea!,lots of windows and light st luke s gardens a...,Philippa,05-12-09,Kensington,within an hour,67%,29%,False,...,89,21-12-09,16-03-20,4.79,4.84,4.88,4.87,4.82,4.93,4.73
1,554519,JESSIE the narrowboat in Little Venice,jessie the narrowboat is moored in the heart o...,Meg,03-05-11,London,within an hour,100%,100%,True,...,581,04-07-11,02-09-22,4.91,4.94,4.90,4.97,4.96,4.98,4.77
2,1481851,Notting Hill church stay in Heaven!,the spaceoverview located min walk away from...,Tania,07-12-11,London,within a few hours,100%,86%,True,...,6,16-07-12,04-07-22,4.83,4.83,5.00,5.00,5.00,5.00,4.83
3,41759,"Battersea live/work artist house, garden communal",artist house bright high ceiling rooms for bo...,Joe,28-09-09,London,within a day,100%,50%,False,...,96,15-11-10,19-07-22,4.90,4.89,4.91,4.90,4.93,4.59,4.65
4,586671,DOUBLE ROOM NEAR CENTRAL LONDON,the spaceone lovely double bed and breakfastro...,Joe,14-05-11,London,within a day,90%,84%,True,...,32,06-07-13,08-09-22,4.91,4.97,4.88,5.00,5.00,4.72,4.88

In [1]:
import csv


def load_csv_file(file_location):
    try:
        airbnb_data = []
        with open(file_location, 'r', encoding='utf-8') as file:
            # Construct the csv reader object from the file object
            reader = csv.reader(file)
            # Skip the header row
            next(reader)
            for line in reader:
                airbnb_data.append(line)
            print(f"\nFetching data...\nSucessfully loaded the {file_location} dataset. ")
            # Return the reader object
            return airbnb_data
    except IOError:
        print(f"Couldn't read {file_location}. ")

    
file_location = input("Enter file location: ")
data = load_csv_file(file_location)

Enter file location:  C:/Users/adedi_tpk1ys1/OneDrive/Documents/Nw/Airbnb_UK_2022.csv.xls

Fetching data...
Sucessfully loaded the C:/Users/adedi_tpk1ys1/OneDrive/Documents/Nw/Airbnb_UK_2022.csv.xls dataset.

In [93]:
def get_host_details():
        # Create an empty list to store the rows that match the criteria
        result_rows = []
        h_id = input("Enter the host id: ")
        # Loop through each row in the CSV file
        for row in data:
            # Check if the value in the 'Gender' column is 'Female'
            if row[0] == h_id:
                value1 = row[1]
                value2 = row[2]
                value3 = row[3]
                value4 = row[4]
                value5 = row[5]
                # If it is, add the entire row to the list of matching rows
                result_rows.append(row)
        # Print the matching rows
        print("The Host Id number {} details are :\n".format(h_id))
        print("The name of listing is :", value1)
        print("The description is:", value2)
        print("The host name is :", value3)
        print("The date created by host: ", value4)
        print("The host location is: ", value5) 

# Call the function
get_host_details()

Enter the host id:  554519

The Host Id number 554519 details are :

The name of listing is : JESSIE the narrowboat in Little Venice
The description is: jessie the narrowboat is moored in the heart of little venice on the north bank of the pool of little venice and just opposite brownings island  its a stones throw from paddington station  convenient  pretty and very relaxing the spacestay on this lovely individual  comfortable boat in the heart of london and experience the capital from a different point of view jessie is a   foot canal boat  or narrowboat  completed in   she is   foot   inches wide  she can sleep   people in comfort  for   she is very comfortable  the boat has a warm inviting interior and space on deck to sit and watch the world go by  the appropriately named little venice  a name coined by the poet robert browning  is a very pretty corner of london  famous as home to hundreds of beautiful canal boats and convenient base from which to explore the capital  two underground stations and good bus routes to all parts of the city are a short walk away  there is something very spe
The host name is : Meg
The date created by host:  03-05-11
The host location is:  London

In [29]:
def get_location_details():
        # Create an empty list to store the rows that match the criteria
        result_rows = []
        location = input("Enter the host location: ").capitalize()
        # Loop through each row in the CSV file
        for row in data:
            # Check if the value in the 'host_id' column is 'h_id'
            if row[5] == location:
                value1 = row[1]
                value2 = row[13]
                value3 = row[20]
                value4 = row[21]
                value5 = row[22]
        # Print the matching rows
        print("For {} location, the details are :\n".format(location))
        print("The name of the listing is:", value1)
        print("The property type is:", value2)
        print("The price is:", value3)
        print("The minimum night is:", value4)
        print("The maximum night is:", value5)
                
get_location_details()

Enter the host location:  london

For London location, the details are :

The name of the listing is: Luxury 4 bed and breakfast house, 100m to river and palace
The property type is: home
The price is: 246
The minimum night is: 3
The maximum night is: 365

In [86]:


def get_location_details():
    import pandas as pd
    try:
        # Create an empty list to store the rows that match the criteria
        result_rows = []
        location = input("Enter the host location: ").capitalize()
        # Loop through each row in the CSV file
        for row in data:
            # Check if the value in the 'host_id' column is 'h_id'
            if row[5] == location:
                value1 = row[1]
                value2 = row[13]
                value3 = row[20]
                value4 = row[21]
                value5 = row[22]
                # Create a dictionary for the row
                row_dict = {
                    "Name of Listing": value1,
                    "Property Type": value2,
                    "Price": value3,
                    "Minimum Night": value4,
                    "Maximum Night": value5
                }
                # Append the row dictionary to the result list
                result_rows.append(row_dict)
  
        # Create a dataframe from the list of dictionaries
        df = pd.DataFrame(result_rows)
        # markdown = df.to_markdown()
        return df #markdown
    except NameError:
        print(f"Couldn't find {location}. ")
    
get_location_details()

Enter the host location:  london

,Name of Listing,Property Type,Price,Minimum Night,Maximum Night
0,JESSIE the narrowboat in Little Venice,houseboat,204,2,30
1,Notting Hill church stay in Heaven!,rental unit,297,14,365
2,"Battersea live/work artist house, garden communal",townhouse,195,3,1125
3,DOUBLE ROOM NEAR CENTRAL LONDON,townhouse,30,7,730
4,A stylish original Victorian home in West London,rental unit,136,5,90
...,...,...,...,...,...
7699,Luxury 3 BR Riverside Apartment in Southwark,condo,270,4,365
7700,Unique boat living in central London,boat,150,3,30
7701,A Beautiful Room with River Views. CENTRAL LONDON,rental unit,120,2,1125
7702,River view Tate Modern,condo,201,3,28
7703,"Luxury 4 bed and breakfast house, 100m to rive...",home,246,3,365

In [98]:
def find_properties_by_location():
        # Create an empty list to store the rows that match the criteria
        result_rows1 = []
        p_type = input("Enter the property type: ")
        # Loop through each row in the CSV file
        for row in data:
            # Check if the value in the 'host_id' column is equal to 'p_type'
            if row[13] == p_type:
                value1 = row[14]
                value2 = row[15]
                value3 = row[16]
                value4 = row[17]
                value5 = row[18]
               # Create a dictionary for the row
                row_dict1 = {
                    "The room type ": value1,
                    "It accommodates ": value2,
                    "The bathroom is/are": value3,
                    "The bedrooms is/are": value4,
                    "The bed is/are": value5
                }
                # Append the row dictionary to the result list
                result_rows1.append(row_dict1)
  
        # Create a dataframe from the list of dictionaries
        df = pd.DataFrame(result_rows1)
        return df 
    
    
df = find_properties_by_location()
num_rows = 20
start_pos = 0
end_pos = min(start_pos + num_rows, len(df))

while True:
    # Display the current set of rows
    print(df.iloc[start_pos:end_pos])
    if end_pos >= len(df):
        print("No more rows available.")
        break
    user_input = input("Enter 'next' to retrieve the next 20 rows, or 'quit' to exit: ")
    if user_input == 'next':
        start_pos += num_rows
        end_pos = min(start_pos + num_rows, len(df))
    elif user_input == 'quit':
        break

Enter the property type:  rental unit

   The room type  It accommodates  The bathroom is/are The bedrooms is/are  \
0        home/apt                2              1 bath                   1
1        home/apt                3           1.5 baths                   1
2        home/apt                2              1 bath                   1
3    Private room                2              1 bath                   1
4        home/apt                2           1.5 baths                   1
5    Private room                3       1 shared bath                   1
6    Private room                1       1 shared bath                   1
7        home/apt                6             2 baths                   3
8    Private room                1       1 shared bath                   1
9        home/apt                2              1 bath                   1
10       home/apt                2              1 bath                   1
11       home/apt                4              1 bath                   1
12       home/apt                2              1 bath                   1
13       home/apt                7           2.5 baths                   5
14   Private room                1       1 shared bath                   1
15       home/apt                6              1 bath                   2
16   Private room                2           1.5 baths                   1
17   Private room                2       1 shared bath                   1
18       home/apt                5           1.5 baths                   2
19   Private room                1       1 shared bath                   1

   The bed is/are
0               1
1               1
2               1
3               1
4               1
5               2
6               1
7               3
8               1
9               1
10              1
11              2
12              1
13              4
14              1
15              3
16              1
17              1
18              3
19              1

Enter 'next' to retrieve the next 20 rows, or 'quit' to exit:  quit

In [91]:
import csv


def load_csv_file(data,num_rows):
    result_rows =[]
    location = input("Enter the host location: ").capitalize()
    # Loop through each row in the CSV file
    for row in data:
        # Check if the value in the 'host_id' column is 'h_id'
        if row[5] == location:
            value1 = row[1]
            value2 = row[13]
            value3 = row[20]
            value4 = row[21]
            value5 = row[22]
            # Create a dictionary for the row
            row_dict = {
                "Name of Listing": value1,
                "Property Type": value2,
                "Price": value3,
                "Minimum Night": value4,
                "Maximum Night": value5
            }
            # Append the row dictionary to the result list
            result_rows.append(row_dict)
        
    # Create a dataframe from the list of dictionaries
    df = pd.DataFrame(result_rows)
    return df 
        

df = load_csv_file(data,num_rows)
num_rows = 20
start_pos = 0
end_pos = min(start_pos + num_rows, len(df))

while True:
    # Display the current set of rows
    print(df.iloc[start_pos:end_pos])
    if end_pos >= len(df):
        print("No more rows available.")
        break
    user_input = input("Enter 'next' to retrieve the next 20 rows, or 'quit' to exit: ")
    if user_input == 'next':
        start_pos += num_rows
        end_pos = min(start_pos + num_rows, len(df))
    elif user_input == 'quit':
        break

Enter the host location:  Wolverton

                     Name of Listing Property Type Price Minimum Night  \
0  Stylish apartment in Belsize Park   rental unit    87             2

  Maximum Night
0            40
No more rows available.

In [75]:
num_rows = None
while True:
    print(df)
    user_input = input("Enter 'next' to retrieve the next 20 rows, or 'quit' to exit: ")
    if user_input == 'next':
        num_rows = 20
    elif user_input == 'quit':
        break

Empty DataFrame
Columns: []
Index: []

Enter 'next' to retrieve the next 20 rows, or 'quit' to exit:  next

Empty DataFrame
Columns: []
Index: []

Enter 'next' to retrieve the next 20 rows, or 'quit' to exit:  quit

In [11]:
import pandas as pd
def load_pd_file():
    r_file = pd.DataFrame(data)
    return r_file.head()
load_pd_file()

,host_id,name,description,host_name,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,...,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,60302,Bright Chelsea Apartment. Chelsea!,lots of windows and light st luke s gardens a...,Philippa,05-12-09,Kensington,within an hour,67%,29%,False,...,89,21-12-09,16-03-20,4.79,4.84,4.88,4.87,4.82,4.93,4.73
1,554519,JESSIE the narrowboat in Little Venice,jessie the narrowboat is moored in the heart o...,Meg,03-05-11,London,within an hour,100%,100%,True,...,581,04-07-11,02-09-22,4.91,4.94,4.90,4.97,4.96,4.98,4.77
2,1481851,Notting Hill church stay in Heaven!,the spaceoverview located min walk away from...,Tania,07-12-11,London,within a few hours,100%,86%,True,...,6,16-07-12,04-07-22,4.83,4.83,5.00,5.00,5.00,5.00,4.83
3,41759,"Battersea live/work artist house, garden communal",artist house bright high ceiling rooms for bo...,Joe,28-09-09,London,within a day,100%,50%,False,...,96,15-11-10,19-07-22,4.90,4.89,4.91,4.90,4.93,4.59,4.65
4,586671,DOUBLE ROOM NEAR CENTRAL LONDON,the spaceone lovely double bed and breakfastro...,Joe,14-05-11,London,within a day,90%,84%,True,...,32,06-07-13,08-09-22,4.91,4.97,4.88,5.00,5.00,4.72,4.88

In [10]:
import pandas as pd
data = load_csv_file(file_location)
def load_csv_file(data):
    try:
        df = pd.read_csv(data)
        print(f"\nFetching data...\nSuccessfully loaded the {file_location} dataset.")
        return df
    except IOError:
        print(f"Couldn't read {file_location}.")

# file_location = data

TypeError: argument of type 'method' is not iterable